body {
	background: black;
	color: white;
}

header {
	width: 96%;
	text-align: center;
}

.row {
	display: flex;
	flex-flow: row wrap;
}

.card-column {
	flex: 0 0 100%;
	padding: 1rem;
}

.code-card {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	min-height: 100%;
	padding: 2rem;
	outline: 2px dashed white;
	outline-offset: -2px;
}

.code-card pre {
	white-space: wrap;
	overflow: auto;
	display: flex;
	align-items: center;
	padding: 1.2rem;
}

.linear-gradient-background {
	background-image: linear-gradient(
		rgba(232, 102, 236, 0.3) 0%,
		rgba(232, 102, 236, 0.6) 100%
	);
}

.code-card .card-header {
	border-radius: 8px;
	transition: all 0.5s ease-in-out;
}

.code-card:hover,
.code-card:hover .card-header {
	box-shadow: inset 0px 0px 8px rgba(232, 102, 236, 1),
		0 0 15px rgba(232, 102, 236, 1);
}

.card-header {
	position: relative;
	margin-top: -20px;
	text-align: center;
	border: 2px solid white;
	border-radius: 10px;
}

.code-card .code-block {
	flex-grow: 1;
}

.code-card pre:active {
	user-select: all;
}

@media screen and (min-width: 768px) {
	.card-column {
		flex: 0 0 50%;
		max-width: 50%;
	}
}

@media screen and (min-width: 992px) {
	.card-column {
		flex: 0 0 33%;
		max-width: 33%;
	}
}
